*{

    font-family: Arial, Helvetica, sans-serif;
}

html ,body{
    height: 100%;
}

body{
background-attachment: fixed;    
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
/* make the page display properly in all screen type using flexbox */
 display: flex;
 flex-direction: column;
}

main{
    flex : 1 ;
}
/* hide sections until clicked */
 #quizQs,
#questions,
#finalScore,
#highestScore{
    display: none;
}

ul.nobullets {
    list-style-type: none;
    }

    /* Answer button styling */
.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: #28a745;
}

/* Mobile */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
	    background-image: url(./assets/images/question.jpg);
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: lightblue;
	    background-image: url(./assets/images/question.jpg);
    }
}

/* Desktop */
@media (min-width: 1025px) {
    body {
        background-color: lightblue;
	    background-image: url(./assets/images/question.jpg);
   }
}